@import "tailwindcss";
@plugin "daisyui";

:root {
  --color-primary: #4caf50;
  --color-secondary: #388e3c;
  --color-accent: #f59e0b;
  --color-background: #f9fafb;
  --color-card: #ffffff;
  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;
  --color-border: #e5e7eb;
  --color-success: #10b981;
  --color-error: #ef4444;
  --color-info: #3b82f6;
}
